# Arquivos de configuração sensíveis
config.py

# Diretórios de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.env
.venv
env/
venv/

# Arquivos de IDEs
.idea/
.vscode/

# Arquivos de sistema
.DS_Store